# Main dependencies for the project
fastapi
torch
transformers
langchain_huggingface
huggingface_hub
langchain
langchain_community
langchain_chroma
faiss-cpu
sentence_transformers
jupyter
jupyterlab
pypdf
ipykernel
fastapi
uvicorn
jinja2
aiohttp
python-multipart

# Optional dependencies for specific features
dotenv
#pysqlite3-binary